
<main>
  <section class="hero-section">
    <h1>Welcome to My Book Finder Application</h1>
    <p>Discover your next great read.</p>
    <app-search-input></app-search-input>
  </section>



  <section class="booklist-section">
    <div class="container">
      <h2>Book Results</h2>
      <app-booklist></app-booklist>
    </div>
  </section>

  <section class="wishlist-section">
    <div class="container">
      <h2>My Wishlist</h2>
      <app-wishlist></app-wishlist>
    </div>
  </section>

  <section class="wishlistlist-section">
    <div class="container">
      <h2>Wishlist Overview</h2>
      <app-wishlistlist></app-wishlistlist>
    </div>
  </section>
</main>


